@model Munin.web.Models.Bibliotek

@{
    ViewBag.Title = "Rediger";
}

<h2>@ViewBag.Title</h2>



<div ng-controller="biblioteksCtrl as ctrl" ng-init="initpage()">
    @Html.Hidden("ID", Model.BibliotekID, new { @id = "ID" })
    @Html.Partial("_form")  
</div>

@Html.ActionLink("Tilbage til liste", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
