@model Munin.web.Models.Kort

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kort</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kortnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kortnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KortType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KortType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propertion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propertion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Udgiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Udgiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateringAar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateringAar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevAar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevAar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omraade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omraade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materiale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materiale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indlevering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indlevering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journaler.JournalNb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journaler.JournalNb)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Tilbage til liste", "Index")
        </div>
    }
</div>
