@model Munin.web.Models.Sekvenser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sekvenser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SekvensNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SekvensNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateringDag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateringDag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateringMrd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateringMrd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateringAar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateringAar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interviewer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interviewer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klausul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klausul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indlevering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indlevering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journaler.JournalNb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journaler.JournalNb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SekvensID }) |
    @Html.ActionLink("Tilbage til liste", "Index")
</p>
