@model IEnumerable<Munin.web.Models.Sekvenser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SekvensNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Journal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateringDag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateringMrd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateringAar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klausul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indlevering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Journaler.JournalNb)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SekvensNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Journal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateringDag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateringMrd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateringAar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klausul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indlevering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Journaler.JournalNb)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SekvensID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SekvensID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SekvensID })
        </td>
    </tr>
}

</table>
