@model Munin.web.Models.ArkivFond

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArkivFond</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArkivNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArkivNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArkivNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArkivNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArkivDef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArkivDef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArkivType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArkivType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StiftetDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StiftetDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StiftetMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StiftetMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StiftetYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StiftetYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfsluttetDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfsluttetDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfsluttetMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfsluttetMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfsluttetYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfsluttetYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArkivfondID }) |
    @Html.ActionLink("Tilbage til liste", "Index")
</p>
